.Ingredient {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 20px 10px;
}

.click {
    cursor: pointer;
}
.price {
    padding: 10px;
}
.btn {
    background: none;
    border: none;

}
